<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logfile" xsi:type="File" fileName="file.txt" />
        <target name="logfile1" xsi:type="File" fileName="infoLog.log" />
        <target name="logfile2" xsi:type="File" fileName="error.txt" archiveFileName="error-{#}.txt" archiveNumbering="Date" archiveEvery="Minute" archiveDateFormat="yyyyMMddHHmm"  />
        <target name="logconsole" xsi:type="Console" />
    </targets>
    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile2" />
    </rules>
</nlog>
